.cart_head{
    background-size: cover;
    background-image: url(img/cart_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.cart_title{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    padding-top: 144px;
}
.cart{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 64px;
}
.cart_content{
    grid-column: span 8;
}
.cart_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 14px;
}
.product{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.product_count{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-right: 32px;
}
.cart_products{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.cart_product{
    border-top: 0.5px solid #CACDD8;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart_product_content{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.product_photo_incart{
    width: 173px;
    height: 173px;
}
.content_discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart_product_name{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.cart_product_discription{
    gap: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    max-width: 276px;
    max-height: 50px;
}
.cart_price{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #050505;
}
.cart_links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.favourites{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 210%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.favourites:hover{
    transition-duration: 1s;
    text-decoration: none;
}
.delete{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 210%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.delete:hover{
    transition-duration: 1s;
    text-decoration: none;
}
.number_btn{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 8px;
    padding-left: 60px;
}
.number_plus,
.number_minus{
    border: none;
    background: none;
}
.count_input{
    background: #F7F6F6;
    border-radius: 6px;
    border: none;
    width: 59px;
    height: 51px;
    padding-left: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 210%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.cart_bttns{
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding-top: 50px;
}
.clear_cart{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    display: flex;
    align-items: center;
    text-align: center;
    color: #020202;
    width: 200px;
    height: 37px;
    justify-content: center;
}
.clear_cart:hover{
    transition-duration: 0.2s;
    background: #000000;
    color: #FFFFFF;
}
.back_tocatalog{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    display: flex;
    align-items: center;
    text-align: center;
    color: #020202;
    width: 200px;
    height: 37px;
    justify-content: center;
}
.back_tocatalog:hover{
    transition-duration: 0.2s;
    background: #000000;
    color: #FFFFFF;
}
.order_content{
    background: #F7F6F6;
    border-radius: 20px;
    box-sizing: border-box;
    height: 556px;
    grid-column: span 4;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 376px;
}
.order_title{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    text-align: center;
    line-height: 36px;
    color: #000000;
    height: 36px; 
    padding-top: 42px;  
    margin-bottom: 35px;
}
.information{
    border: none;
    background: #F7F6F6;
    margin-bottom: 44px;
    border-bottom: 0.5px solid #CACDD8;
    width: 100%;
}
.information::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    height: 17px;
}
.subtotal{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 28px;
    justify-content: center;
    margin-top: 32px;
}
.order_button{
    background: #F7F6F6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    height: 41px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    animation: shadow-drop-center 1s ease-out 1s infinite alternate-reverse both;
}
@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      }
}
.cart_special{
    padding-bottom: 64px;
}
.to_catalog_from_cart{
    margin-top: 32px;
}
